@media (min-width: 500px) {
  .general-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0;
  }
}

label {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 4px;
}

label > input {
  margin-top: 2px;
}

.sort-checkbox-label {
  flex-direction: row;
  align-items: center;
}

.edit-button,
form > button,
.finish-editing-buttons button:first-child,
input[type='submit'],
.clear-button {
  background-color: #363636;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 20px;
}

.finish-editing-buttons button:nth-child(2) {
  background-color: #eeeeee;
  color: #363636;
  padding: 8px 20px;
  border: 0;
  border-radius: 20px;
}

.finish-editing-buttons {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.finish-editing-buttons * {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='date'],
.responsibility-textarea {
  border-radius: 18px;
  border: 0;
  background-color: #eeeeee;
  padding: 6px 10px;
}

.edit-education-entry,
.edit-work-experience-entry {
  margin: 14px 0;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 2px solid #eeeeee;
  border-radius: 16px;
}

.edit-education-entry input[type='text'],
.edit-work-experience-entry input[type='text'] {
  width: min(300px, 80%);
}

.entry-buttons button {
  width: 26px;
  height: 26px;
  background-color: #363636;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 4px;
  border: 1px solid #363636;
}

.entry-buttons {
  display: flex;
  gap: 5px;
}

form ul {
  padding-inline-start: 10px;
  list-style-type: none;
  margin: 4px 0;
}

ul .responsibility-textarea {
  max-width: 400px;
}

.edit-list-container {
  display: flex;
  align-items: end;
  gap: 10px;
  width: max(300px, 80%);
}

.edit-list-container button {
  margin-bottom: 10px;
}

form > button {
  width: 100%;
}

button:hover,
input[type='submit']:hover,
.entry-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.date-pickers {
  display: flex;
  gap: 10px;
}

.end-date-container {
  display: flex;
  align-items: end;
}

.ongoing-checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-responsibility {
  width: 26px;
  height: 26px;
  background-color: #363636;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

li input {
  text-wrap: wrap;
}
